.mainWrapper{
    display: block;
}

.mainWrapperHidden{
    display: none;
}

.inputsWrapper{
    /* max-height: 400px; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
    box-sizing: border-box;
    padding: 0rem 1rem 0rem 1rem;

}

.formStyle{
    width: 100%;
}




.label{

    display: flex;
    flex-direction: row;
    align-items: center;
    text-wrap: nowrap;
    padding: 0rem 1rem 0rem 0rem;
}

.input{
    /* width: 100%; */
    width:20rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 1px solid #cac9c9;
    /* outline-color: #a1d014; */
}


.warning{
    /* background: #000; */
    color: #dd0d0d;
    font-size: 0.80rem;
}